@model BOI.Models.MailingDet
@Styles.Render("~/Content/css")
<div>
    <div class="link1"> <h3>Account Created Successfully</h3></div><br />
    <h4><b>Your Account Details</b></h4><br />
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AccNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwd)
        </dd>

    </dl>
</div>
