@model BOI.Models.TransDetails_Result

@{
    ViewBag.Title = "Transdetail";
}
@Styles.Render("~/Content/css")



<div>
    <div class="link1"> <h3>Transaction Details</h3></div>
    <hr />
    @{
        string url = Url.Action("Logout","Logout");
    }
    <input type="button" value="Logout" class="submit" onclick="window.location.href = '@url'" />
    <div class="OT1">
        <ul class="nav navbar-nav">
            <li class=" @(ViewContext.RouteData.Values["Action"].ToString()=="Beneficiary"?"active":"" )">
                @Html.ActionLink("Beneficiary", "Benifi", "Transaction", new { area = "" }, new { id = "OT1", style = "color:rgb(198,199,198);text-decoration:none;background-color: #343434;font-size:20px" })
            </li>
            <li class=" @(ViewContext.RouteData.Values["Action"].ToString()=="Transaction"?"active":"" )">
                @Html.ActionLink("Transaction", "Trans", "Transaction", new { area = "" }, new { id = "OT1", style = "color:rgb(198,199,198);text-decoration:none;background-color: #343434;font-size:20px" })
            </li>
        </ul>
    </div>
    <br><br>
   <center style="font-size:20px"><b>Your transaction is successful!</b></center>
</div>


