@model IEnumerable<BOI.Models.ViewCustomer_List_Result>

@{
    ViewBag.Title = "admin";
}

<h2>admin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_Holder_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Holder_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
